<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="bdCBUS">
        <wb-resource deploy-path="/" source-path="/WebRoot"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="java-output-path" value="/bdCBUS/WebRoot/WEB-INF/classes"/>
        <property name="context-root" value="/bdcmd"/>
    </wb-module>
</project-modules>
