/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{display:none;right:10px;background:url(/website/images/icon/slide-right.png) no-repeat;padding:20px;}
ul.bjqs-controls.v-centered li.bjqs-next a:hover {background:url(/website/images/icon/slide-right2.png) no-repeat;}
ul.bjqs-controls.v-centered li.bjqs-prev a{display:none;left:20px;background:url(/website/images/icon/slide-left.png) no-repeat;padding:20px;}
ul.bjqs-controls.v-centered li.bjqs-prev a:hover {background:url(/website/images/icon/slide-left2.png) no-repeat;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center; margin-top:-30px; position:relative; z-index:10000;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block; border-radius:4px;border:1px solid #000; opacity:0.7;}
ol.bjqs-markers li a{background:#000;padding:4px;margin:5px;text-decoration: none;font-size:0;opacity:0.7;}
ol.bjqs-markers li.active-marker a,ol.bjqs-markers li a:hover{background: #FFF; border-color:#FFF; opacity:0.7;}
p.bjqs-caption{background: rgba(255,255,255,0.5);}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
ul.bjqs-controls.v-centered li a{display:block;padding:10px;background:#fff;color:#000;text-decoration: none;}
