/*弹出层的STYLE*/
html,body {height:100%; margin:0px; font-size:12px;}

#savepop-div{
	width: 960px;
	height: 390px;
	background-color: #ffffff;
	box-shadow: 0 1px 2px #a3a3a3;
	border-radius: 8px;
	display: none;
}
		
.popdiv {
	background-color: #fff;
	border: 1px solid #00bfff;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	font-weight: bold;
	z-index:99;
	
	top: 100px;;/*FF IE7*/

	margin-left: auto;
	margin-right: auto;
	margin-top:-60px!important;/*FF IE7 该值为本身高的一半*/

	margin-top:0px;

	position:fixed!important;/*FF IE7*/
	position:absolute;/*IE6*/

	_top:   expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}


.mask {
	background-color: #000;
	width: 100%;
	height: 100%;
	left:0;
	top:0;/*FF IE7*/
	filter:alpha(opacity=50);/*IE*/
	opacity:0.5;/*FF*/
	z-index:1;

	position:fixed!important;/*FF IE7*/
	position:absolute;/*IE6*/

	_top:       expression(eval(document.compatMode &&
				document.compatMode=='CSS1Compat') ?
				documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
				document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/

}
/*The END*/


/** 弹出层内容样式 **/
.pophead{
	position: absolute; top: 0;background-color: #4b8df8;width: 100%;height:40px;border-bottom: 1px solid #ccc;
}
.popheadtitle{
	margin-left:20px;float:left;font-size: 16px;color: white;
}
.pop-hide{
	margin-top:10px;
	margin-right:10px; 
	background-image: url(img/02/ui-p.png);
	height: 20px;
	width: 20px;
	float: right;
	position: relative;
}

.popbody{
	width: 600px;min-height:100px;background-color: #ffffff;margin-top:50px;
}

.popbody .control-line{
	margin-bottom:20px;height: 10px;
}
.popbody .control-group{
	margin-bottom: 20px;height: 30px;
}

.popbody .control-group .control-label{
	height: 28px;
	width:120px;
	color: black;
	font-size: 16px;
	font-weight:bold;
	text-align:right;
	line-height:28px;
	margin-top: 10px; 
	float: left; 
}

.popbody .control-group .controls{
	float: left;margin-left:20px;
}

.popbody .control-group .message{
	font-size: 16px;color: black;margin-top:10px;position: relative;float: left;
}
.popbody .control-group .iconfont{
	margin-left:8px;position: relative;
}


.popbody .control-group .errerMessage{
	color:red;margin-left:10px;height: 30px;margin-top: 7px;
	position: relative;float: left;
}

.popfloor{
	position: absolute; bottom: 0;background-color: #f5f5f5;height: 50px;width: 100%;border-top:1px solid #ccc;
}
.popfloor .btn{
	float: left;margin-top:8px;margin-left:10px; border-radius: 10px;color: white;
}
.popfloor .popfloortitle{
	width: 120px;float: left;visibility:hidden;margin-left:20px;
}

.input_error{
	border: 1px solid red!important;
}