@charset "utf-8";
/* CSS Document */
* {
	border:0;
	margin:0;
	padding:0;
}
ul {
	list-style: none;
}
hr {
	border-top: 1px solid #e4e4e4;
	width: 97%;
	margin: 20px auto;
}
h2.title {
	font-size: 16px;
	line-height: 30px;
}
.content h2 {
	font-size: 16px;
}
.content h3 {
	font-size:14px;
	color:#ccc;
}
ul.detailMsg {
	width:90%;
	margin: 0 auto;
	font-size: 14px;
}
ul.detailMsg li img {
	margin-bottom: -2px;
	margin-right: 4px;
}
ul.detailMsg li {
	color: 3d3d3d;
	margin-bottom: 10px;
}
.content {
	width: 90%;
	margin: 0 auto 8%;
}

