/* CSS Document */

html, body, div, dd, h1, h2, h3, h4, h5, h6, p, a, form, fieldset, input, legend, span, img, fieldset, form, label, legend, dl, dt, dd, ol, ul, li, table, caption, button, textarea, select, table, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-family: Microsoft YaHei, Arial;
	font-size: 14px;
	color: #666;
}
a {
	text-decoration: none;
	color:#005EAC;
}
ul {
	list-style: none;
}
h1, h2, h3, h4, h5 {
	font-weight: normal;
}
h1.logo a {
	height: 60px;
	width: 180px;
	display: block;
	float: left;
	margin: 0;
}
/*.headerBg {
	background: url(../images/banner.png) repeat scroll center center ;
	height: 500px;
	text-align:center;
	margin:0 0 25px;
}*/

/*==================
     blackHeader
===================*/
.blackHeader {
	height: 60px;
	/*background: url(../images/dot_01.png) repeat 0 0 !important;*/
}
.headerArea {
	position:relative;
	width: 980px;
	height: 60px;
	margin: 0 auto;
}
.headerArea .navBar {
	font-size: 20px;
	color: #FFFFFF;
	float: left;
	height: 60px;
	overflow: hidden;
	position: relative;
	display: block;
}
.navBar li {
	float: left;
	position: relative;
	line-height: 60px;
}
.navBar >li >a {
	color: #FFFFFF;
	padding: 16px;
}
.navBar >li >a:hover {
	background-color: #419dea;
}
#commentReply_112 {
	display: none;
}
h1.banner {
	padding: 10px 0;
	height: 300px;
	background: #60b6ff;
	color: #FFF;
	font-size: 30px;
	margin: 30px 10px 0 20px;
}
h1.banner span {
	display: block;
	margin-top: 10px;
	font-size: 16px;
	line-height: 28px;
}

/*.indexBg{
	background:url(../images/bg.jpg) repeat-x;
	/*position: absolute;
	z-index:-1;
	margin: 0 0 0 -960px;
	left: 50%;
}*/

/*.headerBg a {
    background:  url(../images/play.png) none repeat scroll 0 0 #60B6FF;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    height: 65px;
    line-height: 65px;
    margin: 0 6px 0 10px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 285px;
    z-index: 100;
}*/

.header {
	background-color: #60b6ff/*#292929*/;
	height: 60px;
	width: 100%;
}
/*bodycontainer*/
.container {
	margin: 0 auto;
	position: relative;
	width: 980px;
	z-index: 100;
	overflow: hidden;
	min-height:600px;
}
/*.slides {
    background-image: url(../images/slides/slides01.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 279px;
	width:980px;
	margin:0 0 30px;
}*/

{
	margin: 0 0 20px;
	padding: 10px;
	overflow: hidden;
}

.eventBox {
	margin: 10px auto;
	width: 928px;
	clear: both;
	overflow: hidden;
}
.thisWeek h2, .collection h2 {
	clear:left;
	color: #000;
	font-weight: normal;
	margin-left:10px;;
	float: left;
}
.thisWeek .more, .collection .more {
	float: right;
	margin-right: 15px;
}
.event {
	/*border: 1px solid #CCCCCC;*/
	height: 170px;
	overflow: hidden;
	position: relative;
	width: 300px;
	z-index: 100;
	display: inline-block;
	vertical-align: top;
	float: left;
}
.eventMd {
	margin: 0 10px;
}
.event .note {
	background: url(../images/dot_01.png) repeat 0 0;
	bottom: 0;
	color: #FFFFFF;
	display: block;
	height: 35px;
	left: -1px;
	line-height: 18px;
	overflow: hidden;
	padding: 5px;
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 291px;
	z-index: 100;
}
img {
	border-style: none;
}
.box {
	border: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}
/*******************
         布局
*******************/
	.leftBox {
		width:672px;
		float:left;
		position:relative;
		min-height:200px;
	}
	
	.rightBox {
		float:left;
		width:280px;
		min-height:200px;
		position:relative;
		margin-left:10px;
	}


/********************
       footer
********************/
.footer {
	clear:both;
	margin:50px 0 20px;
	text-align:center;
}
.footer li {
	display:inline-block;
	font-size:14px;
	margin-right:10px;
}
.footer li a {
	color:#6E9669;
}

/********************
      icon
********************/
.icon-timeSm {
	background:url(../images/icon/icon-timeSm.png) no-repeat;
	height: 17px;
	width: 17px;
	display: inline-block;
}
.icon-placeSm {
	background:url(../images/icon/icon-placeSm.png) no-repeat;
	height: 17px;
	width: 17px;
	display: inline-block;
}
.icon_time {
	background: url(../images/icon/icon_time.png) no-repeat 0 0;
	/*height: 20px;
	width: 20px;*/
	display: inline-block;
}
.icon_label {
	background: url(../images/icon/icon_label.png) no-repeat 0 0;
	height: 20px;
	width: 20px;
	display: inline-block;
}
.icon_place {
	background: url(../images/icon/icon_place.png) no-repeat 0 0;
	height: 20px;
	width: 20px;
	display: inline-block;
}
/*.icon-time {
	background: url(../images/icon/icon_time.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 13px;
	width: 13px;
	display: inline-block;
	margin-top: 1px;
	vertical-align: text-top;
	margin-right: 5px;
}
.icon-place {
	background: url(../images/icon/icon_place.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 16px;
	width: 16px;
	display: inline-block;
	margin-top: 1px;
	vertical-align: text-top;
	margin-right: 5px;
}
.icon-star {
	background: url(../images/fix/icon_star.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 16px;
	width: 16px;
	display: inline-block;
	margin-top: 1px;
	vertical-align: text-top;
	margin-right: 5px;
}
.icon-friend {
	background: url(../images/fix/icon_friend.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 16px;
	width: 16px;
	display: inline-block;
	margin-top: 1px;
	vertical-align: text-top;
	margin-right: 5px;
}
.icon-history {
	background: url(../images/fix/icon_history.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 16px;
	width: 16px;
	display: inline-block;
	margin-top: 1px;
	vertical-align: text-top;
	margin-right: 5px;
}*/
.pageTitle {
	width: 980px;
	margin: 30px 0;
	color: #666;
	line-height: 20px;
	position: relative;
}
/************************
     eventlist
************************/
.eventList {
	overflow: hidden;
	margin-top:3px;
}

.thisWeek .box, .collection .box, .eventList .box {
	border: none;
	clear:both;
	padding-bottom:0;
}
.listLeftBox {
	width:300px;
	margin: 0 5px 15px 0;
	overflow: hidden;
	height: 170px;
	float: left;
}
.listRightBox {
	width: 450px;
	height: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn-current {
	background-color:#006bd6;
}
.listRightBox h2 {
	color:#000;
}
.listFunc {
	position:absolute;
	right:10px;
	bottom:10px;
}
.row-fluid {
	position:relative;
	background-color:#FFF;
	margin-bottom: 20px;
	overflow:hidden;
}
#list-horizontal .row-fluid{
	padding:8px;
}
.listCollection {
	position:absolute;
	right:10px;
	top:20px;
}
/*hr {
	clear: both;
	border-style: solid none;
	border-width: 1px 0;
	margin: 0 0 20px;
	border: 1px solid #eee;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #EEEEEE -moz-use-text-color #FFFFFF;
}*/
dd {
	margin: 0 0 10px;
}
#list-horizontal {
	display:none;
}
.listToggles, .list-checkbox, .list-school {
	margin-left:10px;
}
.listToggles li, .list-checkbox li, #myPage-tab li, #inbox-tab li, .timeTag, .list-school li {
	display: inline-block;
	padding: 1px 6px 3px;
	margin-top:5px;
	margin-right:10px;
	cursor:pointer;
	color:#0a8cd2;
}
.pullRight {
	float:right;
}
.list-checkbox {
	clear:both;
}

/*.list-checkbox {
	width:300px;
	margin-bottom:5px;
}*/
.listTag li:hover {
	background-color: #60b6ff;
	color: #FFF;
}
.view-category .active {
	background-color: #60b6ff;
    color: #FFF;
}


/*******************
      button
*******************/

button {
		cursor: pointer;
		-webkit-appearance: button;
	}
	
	.btn {
		border:none;
		font-family:Microsoft YaHei, Arial;
		margin-bottom:10px;
		color:#FFFFFF;
		cursor:pointer;
		}
		
	.btnSm {
		font-size:15px;
		width:85px;
		height:30px;
		}
	
	.btnMd {
	    width:145px;
		height:40px;
		font-size:17px;
		border-radius:2px;
		}
	
	.btnLg {
		width:165px;
		height:60px;
		font-size:19px;
		border-radius:4px;
		}
	.btn-blue {
		background-color:#60b6ff;
	}
	.btn-green {
		background:#227547;
	}
    .btn-red {
		background:#ad5236;
	}
	.btn-blue:hover {
		background-color:#007FFF;
		}
    /*.btn-blue {
		background-color:#007FFF;
		}
	.btn-blue:hover {
		background-color:#006bd6;
		}*/	
    .btn-black {
		background-color:#292929;
	    }
	.btn-black:hover {
		background-color:#000;
		}
	.btn-orange {
		background-color:#ee6000;
		}
/******************
      userBox
*******************/
.userBox {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 116px;
}
.face {
	width: 30px;
	height: 30px;
	margin-right: 8px;
	vertical-align: middle;
}
.userBox:hover {
	background-color:#419dea;
}
.userBox>a {
	color: #FFF;
	line-height: 60px;
	padding: 0 7px;
}
.dropBox-menu {
	display: none;
	width: 100%;
	position: absolute;
	background-color: #419dea;
	z-index: 101;
}
.dropBox-menu a {
	line-height: 40px;
	color: #FFF;
}
.dropBox-menu li {
	border-top: 1px solid #FFF;
	text-align: center;
}


/*********************
         input
*********************/
.input-xxlarge {
	width: 530px;
}
.input-xlarge {
	width: 380px;
}
.input-large {
	width: 120px;
}
.input-small {
	width: 90px;
}
.input-mini {
	width: 60px;
}
input[type="text"], textarea {
	display: inline-block;
	height: 25px;
	padding: 4px 6px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.category {
	background-color: #FFFFFF;
	height: 35px;
	font-size: 100%;
	padding: 6px 6px;
	border: 1px solid #ccc;
	border-radius:4px;
}
/***********************
         form
***********************/
*:focus {
	outline: none;
}
.form-horizontal .control-label {
	float: left;
	width: 160px;
	padding-top: 5px;
	text-align: right;
}
fieldset {
	border: 1px solid #eef0f1;
}
textarea {
	resize: none;
}
.controls input {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.controls input:focus, textarea:focus {
	border-color: #2d6987;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}
#event_start_date, #event_end_date, #book_start_date, #book_end_date {
	cursor:pointer;
}
/*legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	background-color: #eef0f1;
}*/
.control-group {
	margin-bottom: 20px;
}
#localImg {
	position:relative;
	width: 237px;
	height: 148px;
	float: left;
	background:#E6E6E6;
	overflow:hidden;
}
.ps {
	color: #F00;
	font-weight: bold;
	margin-left: 4px
}
.radio {
	font-size: 16px;
	color: #3a87ad;
	line-height: 30px;
	margin-bottom: 10px;
}
#detail {
	
}
.category {
	background-color: #FFFFFF;
	height: 35px;
	font-size: 100%;
	padding: 6px 6px;
	border: 1px solid #ccc;
}
#others {
	height: 150px;
}
#tips-box {
	
}
.formAction {
	width: 300px;
	margin: 50px 180px;
}
#eventForm .n-invalid {
	border: 1px solid #f00;
}
#inputImg {
	position: absolute;
	top: 30px;
	left: 0;
	height: 30px;
	width: 85px;
	opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
/*#picCover .msg-box {
	margin-top: 140px;
}*/
.nicEdit-main {
	height: 200px;
}

/******************
     eventList
******************/
.eventList {
	margin-top:60px;
}
.view-category {
	overflow:hidden;
	margin-bottom:20px;
}
.view-category div {
	margin-bottom:4px;
}
.view-category span {
	display:inline-block;
	cursor:pointer;
	vertical-align:middle;
	margin-right:10px;
}
.view-block {
	width:19px;
	height:19px;
	background:url(../images/icon/view_block.png);
	margin-right:10px;
}
.view-horizontal {
	width:19px;
	height:19px;
	background:url(../images/icon/view_horizontal.png);
}
.view-block:hover, .view-block-current {
	background:url(../images/icon/view_block2.png);
}
.view-horizontal:hover, .view-horizontal-current {
	background:url(../images/icon/view_horizontal2.png);
}	
.list-checkbox label, .listToggles label, .list-school label{
	float:left;
	color:#000;
	margin-top:6px;
	cursor:pointer;
}
input[type=radio]:checked {
    background-color: #60b6ff;
	border-color:#60b6ff;
}

input[type=radio] {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	-webkit-appearance: none;
	-webkit-user-select: none;
	background-color: #fff;
	border: 1px solid #c9c9c9;
	cursor:pointer;
}
#list-block {
	position:relative;
	width:980px;
	overflow:hidden;
}
.vertical-list-block  {
	overflow:hidden;
}
.thisWeek .vertical-list-block li{
	position:relative;
	width: 310px;
	height:195px;
	padding:0;
}
.thisWeek .vertical-list-block h3 {
	margin:0;
	margin-top: 64px;
}
.vertical-list-block li{
	float: left;
	width: 310px;
	height:289px;
	overflow: hidden;
	background: #fff;
	margin-bottom:10px;
}
.vertical-list-block h3 {
	height:21px;
	margin:5px 0 14px;
	overflow:hidden;	
}
.list-time dd {
	margin-bottom:3px;
}
.list-time dd span img {
	vertical-align:-1px;
}
.list-time {
	position:relative;
	margin-top: 10px;
}
.thisWeek .list-blockFunc {
	right: 10px;
    bottom: 30px;
}
.list-blockFunc {
	position:absolute;
	right:0;
	bottom:0;
}
.setMd {
	margin:0 15px;
}
.vertical-list-block a {
	color:#666;
}
.listToggles span {
	padding:1px 7px;
}
.listToggles span:hover{
	background-color:#60b6ff;
	color:#FFF;
}
.toggles-btn {
	background-color:#60b6ff;
	color:#FFF;
}





/***************
     详细页
***************/
.leftBox {
	width:672px;
	float:left;
	position:relative;
}

.rightBox {
	float:left;
	width:280px;
	position:relative;
	height:100px;
	margin-left:10px;
}

.eventIntro {
	width:960px;
	height:340px;
	padding: 10px 0;
	margin: 0 0 10px;
	border: 1px solid #ddd;
	overflow:hidden;
}

.post {
	width:620px;
	float:left;
}

.eventIntro .box {
	height:350px;
	width:310px;
	float:left;
	border:none;
	margin-bottom:0;
	position:relative;
}

.banner-slide {
	margin:0 10px; 
}

.eventIntro .box li {
	margin-bottom:10px;
}

.eventIntro .box li img {
	margin-bottom:-1px;
}
.eventIntro .box .func {
	position:absolute;
	bottom:40px;
	left:13px;
}
.eventIntro .box .func .btn{
	margin-right:10px;
	}

p {
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
	margin-bottom:10px;
	}
	
.rightBox {
	margin-bottom:20px;
	}

pre.secret-source {
	display:none;
	}

.sendBox textarea{
	width:636px;
	height:80px;
	resize: none;
	border:1px solid #DDDDDD;
	margin-bottom:10px;
	}

.pullLeft {
	float:left;
	}

.func .btnSm {
	float:right;
	}

.forum h2 {
	border-bottom: 1px solid #f4f7fa;
	padding:10px;
	margin-bottom:0px;
	}

.forum .feed-list .media {
	padding: 10px 0;
	margin-left: 20px;
	border-bottom: 1px solid #f4f7fa;
	}

	
.func {
overflow:hidden;
}
	
.mediaBody .mediaHeading .time {
	 float:right;
	 font-size:14px;
	 color:#c9c9c9;
	}
	
 .feed-list .pullLeft {
	 margin-right:15px;
	 }
	
.media, .mediaBody {
	 overflow:hidden;
	}
.mediaBody p {
	word-wrap:break-word;
}
.reply {
	float:right;
	color:#2578bf;
	margin-left:5px;
	font-size:12px;
	cursor:pointer;
	}

.replyBox {
	background-color:#E9ECEE;
	margin-bottom:10px;
	clear:both;
	overflow:hidden;
	}
	
.replyBox textarea, .reply-topic-box textarea{
	width:98%;
	height:20px;
	resize: none;
	margin-bottom:10px;
	}
.reply-topic-box {
	padding:10px;
	background:#FFF;
}
.reply-comment-box .btnSm {
margin-bottom:0px;
}
.forum .feed-reply-list .media {
	margin-left:10px;
	padding-right:10px;
}
.feed-reply-list .reply-comment-box {
	margin-top:3px;
	background:#FFF;
	overflow:hidden;
	padding:10px;
	clear:both;
}
.feed-reply-list .reply-comment-box .btnSm {
	font-size: 13px;
	width: 78px;
	height: 27px;
}
#reply-topic-box {
	overflow:hidden;
}




/**********myPage***********/
.myMsg {
	margin:110px 0 20px 215px;
	height: 100px;
	line-height: 22px;
	padding-top: 20px;
	position: relative;
}
.myName {
	font-size: 22px;
	color: #333;
	margin-bottom: 5px;
}
.myAvatar {
	width: 180px;
	height: 180px;
	position: absolute;
	left: 20px;
	top: 50px;
	z-index: 101;
}
.myMainMsg {
	margin-top: 20px;
}
.myMainMsg .vline {
	margin: 0 5px;
	color: #d9d9d9;
}
.myMainMsg em {
	color: #0a8cd2;
	font-style: normal;
}
.myMainMsg > span {
	margin-left: 10px;
}
/*.myMainMsg .btn {
	font-size: 13px;
	color: #666;
	width: 70px;
	height: 26px;
	background:#e2e7ec;
	line-height:26px;
}
.myMainMsg .btn:hover {
	background: #e9eef3;
}*/
#myPage-tab li:hover, #inbox-tab li:hover  {
	background:#47C5D3;
	color:#FFF;
}
#myPage-tab li, #inbox-tab li {
	font-size:16px;
	letter-spacing:1px;
	margin-right:20px;
}

#myPage-tab ul, #inbox-tab ul {
	height: 47px;
	padding-left: 20px;
	border-bottom: 1px solid #d9d9d9;
}
#myPage-tab, #inbox-tab {
	margin-top: 10px;
	position: relative;
	overflow: hidden;
}
#myPage-tab ul .current, #inbox-tab ul .current {
	background: #47C5D3;
	color:#FFF;
}
#localAvatar {
	height: 180px;
	width: 180px;
	border: 1px solid #CCC;
}
.myPage .row-fluid {
	margin:20px 0 0;
}
.myPage .listLeftBox {
	height:97px;
	width:155px;
	margin-right:10px;
	margin-bottom:5px;
}
.myPage .listRightBox {
	position:relative;
	float:left;
	width:280px;
	height:97px;
}
.myPage .listRightBox span{
	position:absolute;
	bottom:0;
}
.myPage .listRightBox h2{
	font-size:18px;
}

.timeTag {
	margin-left:18px;
	color:#FFF;
	cursor:default;
}
.coming {
	background:#6FC7F5;
}
.ongoing {
	background:#DE603A;
}
.over {
	background:#C0C1C2;
}
.high-host {
	width:240px;
	position:absolute;
	right:0px;
	top:20px;
}
.host-list {
	margin-left:14px;	
	position:relative;
	margin-bottom:20px;
	overflow:hidden;
	cursor:pointer;
}
.host-list img {
	margin-right:10px;
}
.host-list h3{
	color:#0a8cd2;
}
.myMainMsg span {
	margin-right: 2px;
}
.high-host fieldset {
	border-width:1px 1px 0 0;
}
.myPage .form-horizontal .control-label {
	margin-right:20px;
}



/*******消息中心**********/
em {
	font-style:normal;
}
.inbox_msg, .myPage {
	padding:10px 20px;
	position:relative;
}
.comment-list {
	margin-top:20px;
	overflow:hidden;
}
.inbox_msg .msg-box {
	position:relative;
	float:left;
	border:1px solid #C8E4FC;
	background:#F6FAFB;
	width:600px;
	padding:10px 20px 0;
}
.inbox_msg .avatar {
	margin-right:20px;
	width:46px;
	height:46px;
}
.comment-list .msg-box p {
	margin-bottom:6px;
	padding-top:0;
}
.msg-box a {
	color:#2578bf;
}
.message_arrow {
	position: absolute;
	top: 10px;
	left: -9px;
	width: 10px;
	overflow: hidden;
}
.message_arrow *, .top_arrow * {
	font-family: "SimSun";
	overflow: hidden;
	font-size: 20px;
	line-height: 1.231;
	display: block;
	height: 20px;
}
.top_arrow span {
	margin:-19px 38px 0;
}
.top_arrow em {
	margin:-23px 38px 0;
}
.inbox_msg .top_arrow span, .myPage .top_arrow span {
	color:#FFF;
}
.inbox_msg .top_arrow em, .myPage .top_arrow em {
	color:#d9d9d9;
}
.comment-list .message_arrow span {
	color:#F6FAFB;
}
.message_arrow span {
	margin: -20px 0 0;
}
.message_arrow em {
	margin-left:-2px;
}
.message_arrow .arrow_border{
	color:#C8E4FC;
}
.msg-box .myComment_txt2, .msg-box .myComment_txt3 {
    color:#8D8D8D;
}
.msg-box .reply_txt_box .reply_txt {
	width:586px;
	margin-bottom:10px;
}

/*create*/
.tags .active {
	color: #fff;
	background: #60b6ff;
	border-color: #60b6ff;
	border-style: solid;
}
#create_page1, #create_page2, #create_page1 {
	clear:both;
}


/*注册信息*/
/**********选择学校************/

.popup-unis, #popup-unis-hs {
	list-style: none;
	overflow-x: hidden;
	overflow-y: auto;
	height: 200px;
	zoom: 1;
	border: 1px solid #c3c3c3;
	background: #FFF;
	padding: 10px 0 10px 10px;
	margin: 5px 0;
}
.popup-unis li, #popup-unis-hs li {
	float: left;
	width: 160px;
	padding: 4px 12px;
}
table.pop_dialog_table {
	border-collapse: collapse;
	margin: auto;
	table-layout: fixed;
}
.pop_content h2 {
	float: none !important;
	background: #3777BC;
	border: 1px solid #005eac;
	color: #FFF;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	position: relative;
	padding: 5px;
}
.popup-province, #popup-province-hs {
	list-style: none;
	overflow: hidden;
	zoom: 1;
	border: 1px solid #c3c3c3;
	background: #FFF;
	padding: 3px;
}
.popup-province li {
	font-size:12px;
	float:left;
	margin-left:10px;
	text-align:center;
}
.popup-province .active a {
	color:#FFF;
}
.popup-unis, #popup-unis-hs {
	list-style: none;
	overflow-x: hidden;
	overflow-y: auto;
	height: 300px;
	zoom: 1;
	border: 1px solid #c3c3c3;
	background: #FFF;
	padding: 10px 0 10px 10px;
	margin: 5px 0;
}
.popup-unis li, #popup-unis-hs li {
	float: left;
	width: 190px;
	padding: 4px 12px;
	background: url(http://a.xnimg.cn/img/school_list_dot.gif) no-repeat 0 9px;
}
.pop_content .dialog_body {
	padding: 10px;
	border-bottom: 1px solid #CEE1EE;
	position: relative;
	zoom: 1;
}
.pop_content .dialog_content {
	background: #fff;
	border: 1px solid #005EAC;
	border-top-width: 0;
}
.univlist, #searchSchoolList, #highSchoolList {
	position: absolute;
	width: 100%;
	z-index: 9999;
}
.filter_univ {
	margin-bottom: 10px;
}
.dialog_buttons button {
	background-color: #3777BC;
}
.dialog_buttons {
	position: absolute;
	right: 0;
}
#sch_search_input {
	height: 18px;
}
/**end**/

/*报名表*/
.black_overlay{
	display:none;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:black;
	z-index:1001;
	-moz-opacity:0.8;
	opacity:.80;
	filter:alpha(opacity=80);
}
.tips-box{
	display:none;
	position:absolute;
	margin-top:-600px;
	margin-left:-300px;
	top:50%;
	left:50%;
	width:600px;
	min-height:200px;
	padding:10px;
	border:3px solid #CCC;
	border-radius:10px;
	background-color:white;
	z-index:1002;
}
.tips-box .close {
	color:#CCC;
	font-size:18px;
	float:right;
	cursor:pointer;
}
.tips-box .showOk, .tips-box .signUp-cont {
	margin-top:40px;
	text-align:center;
}
.showOk img, .signUp-cont img {
	vertical-align:middle;
}
.showOk span, .signUp-cont span {
	color:#1675c5;
	font-size:20px;
	vertical-align:middle;
}
.showOk .signUp-title {
	display:block;
	margin-bottom:10px;
}
.showOk .tips {
	font-size:16px;
	color:#666;
}
.showOk .tips a {
	color:#1675c5;
}
.tips-box .form-horizontal {
	margin-top:20px;
}
.tips-box .form-horizontal .control-label .ps {
	color:#F00;
	font-size:14px;
}
.tips-box .form-horizontal .control-label {
	margin-right:20px;
	width:100px;
}
.tips-box .form-horizontal input {
	height:20px;
	text-align:left;
}
.tips-box .form-horizontal .controls {
	text-align:left;
}
.tips-box .form-horizontal button {
	margin-bottom:30px;
}
.tips-box .form-horizontal select{
	border: 1px solid #CCC;
	padding: 5px;
	border-radius: 4px;
	width: 394px;
}
.tips-box .form-horizontal textarea {
	height:80px;
}

/******创建活动*******/
.appMsg {
	height: 50px;
	width: 231px;
	position: absolute;
	bottom: 0;
	background: url(../images/icon_2.png) repeat 0 0;
	padding: 4px 3px;
}
.appMsg span {
	display: block;
}
#appTitle {
	color: #48494e;
	font-size: 16px;
	margin-left: 4px;
	overflow: hidden;
	white-space: nowrap;
}
#appAddress {
	color: #0f80ce;
	font-size: 13px;
	margin-left: 14px;
	margin-top: 3px;
	overflow: hidden;
	white-space: nowrap;
}
#appDate, #appTime {
	display: inline-block;
	margin-left: 10px;
	color: #48494e;
	margin-top: -5px;
	font-size: 13px;
}
#appDate {
	margin-left: 14px;
}
#eventForm .control-label {
	float: none;
}
#eventForm .controls {
	margin-left: 0;
}
#eventForm .control-group {
	margin-left: 80px;
}
.appPrev {
	position: relative;
	float: right;
	width: 300px;
	height: 600px;
	padding: 10px;
	margin-right: 54px;
	background: url(../images/iphone2.png) no-repeat;
}
#picCover {
	position: absolute;
	left: 22px;
	top: 160px;
}
.fieldset {
	overflow: hidden;
	border: 1px solid #eef0f1;
}
form .content {
	margin-top: 20px;
	position: relative;
}
#create_page3 {
	position: relative;
}
#baiduMap {
	height: 200px;
	width: 400px;
}
#create_page1 .content {
	margin-right: 50px;
}
/*隐藏百度logo和水印*/
.BMap_cpyCtrl, .anchorBL {
	display: none;
}
.control-group .tips {
	color: #F00;
}
.tags li {
	display: inline-block;
	padding: 4px 12px;
	margin-top: 5px;
	margin-bottom:7px;
	margin-right: 3px;
	color: #7e7e7e;
	border: 1px dashed #a7a8a9;
	cursor: pointer;
}
/*.btnMd {
	width: 100px;
	height: 40px;
	background-color: #663399;
	padding: 4px;
	cursor: pointer;
	text-align: center;
	color: #FFFFFF;
	margin: 7px;
	border-radius: 0;
}*/
#create_page1 .buttonWrapper {
	text-align: center;
	margin: 20px auto 40px;
	;
}
.hide {
	display: none;
}
.controls .errorInput, .addFormItem .errorInput {
	border: 1px solid #F00;
}
.stepBar {
	margin: 30px auto;
}
.stepBar ul {
	background-image: url(../images/create_step.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	zoom: 1;
}
.stepBar ul li {
	width: 245px;
	height: 38px;
	float: left;
	display: inline;
	font: bold 14px/38px Arial, Tahoma, "宋体", sans-serif;
	color: #999;
	text-align: center;
}
.stepBar .bar_step1 {
	background-position: 0 -38px;
}
.stepBar .bar_step2 {
	background-position: 0 -76px;
}
.stepBar .bar_step3 {
	background-position: 0 -114px;
}
.stepBar .s_pre {
	color: #404040;
}
.stepBar .s_cur {
	color: #FFF;
}
.buttonWrapper {
	text-align: center;
	margin-top:40px;
}
.confirmMsg .eventIntro {
	border: none;
	padding: 10px;
}
.confirmMsg .eventIntro .box {
	padding: 0;
}
.jqte ul, .jqte ol {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
.jqte ul {
	list-style-type: disc;
}
.jqte ol {
	list-style-type: decimal;
}
.confirmMsg .box ul span {
	margin-left: 4px;
}
.confirmMsg .box ul li h3 {
	font-size:20px;
}
	
/*图片上传预览*/
.pre_img_btn {
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 80px;
	opacity: 0;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	cursor: pointer;
}
.setRelative {
	position: relative;
}
.warning {
	position: absolute;
	margin: 4px 0 0 10px;
	padding: 5px 6px;
	font-size: 12px;
	border: 1px solid transparent;
	background-color: #fffcef;
	border-color: #ffbb76;
	color: #db7c22;
	box-shadow: 0 1px 3px #ccc;
	border-radius: 2px;
	z-index: 2;
}
input[type="checkbox"] {
	width: 12px;
	height: 12px;
	vertical-align: middle;
}
.check_helper {
	margin-right: 20px;
	margin-left: 4px;
	color: #404040;
	font-size: 15px;
	margin-top: 10px;
	vertical-align: middle;
	cursor: pointer;
}
.check_msg {
	margin-top: 10px;
}
.form-horizontal .upload-btn {
	display: inline-block;
	width: 100px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 2px;
	color: #FFF;
}
.form-horizontal .normal {
	background: #62b651;
	cursor: pointer;
}
.form-horizontal .abnormal {
	background: #CCC;
	cursor: none;
}
.files tr {
	float: left;
	width: 310px;
	height: 200px;
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
	overflow: hidden;
}
td .preview {
	display: block;
	width: 310px;
	height: 200px;
	padding-left:50px;
	overflow: hidden;
}
td .preview img {
	margin-left: -50px;
}
td .pic_config {
	position: absolute;
	right: 2px;
	top: 2px;
	width: 25px;
	height: 20px;
	color: #FFF;
	font-size: 16px;
	cursor: pointer;
	padding: 0;
	overflow: hidden;
}
td .icon_delete {
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url(../images/icon/icon_x.png) no-repeat 0 0;
}
td .setCover {
	margin-right: -5px;
	padding: 0 2px;
	height: 20px;
	width: 40px;
	line-height: 20px;
	background: url(../images/icon/dot_pic2.png) repeat 0 0;
}
td .icon_delete:hover {
	background: url(../images/icon/icon_x2.png) no-repeat 0 0;
}
td .setCover:hover {
	background: url(../images/icon/dot_pic.png) repeat 0 0;
}
td .pic_config .active {
	background: url(../images/icon/dot_pic.png) repeat 0 0;
}
.upload-tip {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	color: #a3a3a3;
	margin-left: 10px;
}
.customize-btn {
	color: #0a8cd2;
	margin-right: 20px;
	cursor: pointer;
}
.customize_msg {
	margin-top: 10px;
}
.add-on {
	display: inline-block;
	width: auto;
	height: 20px;
	min-width: 16px;
	padding: 6px 8px 7px;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	background-color: #eeeeee;
	border: 1px solid #ccc;
	border-radius: 4px 0 0 4px;
	vertical-align: top;
	color: #262626;
	margin-right: -1px;
}
.addFormItem input {
	border-radius: 0 4px 4px 0;
}
.addFormItem {
	padding: 8px;
	clear: both;
	overflow: hidden;
	border-bottom: 1px dashed #bbb;
}
.option-box {
	margin-top: 10px;
}
.option-list {
	margin-top: 10px;
	overflow: hidden;
	margin-left: 90px;
}
.option-box > span {
	display: inline-block;
	line-height: 35px;
	color: #262626;
	margin-left: 20px;
}
.option-item {
	float: left;
	margin-bottom: 6px;
	margin-right: 10px;
}
.icon_remove {
	display: block;
	width: 13px;
	height: 13px;
	margin: 3px;
	background: url(../images/icon/icon_remove.png) no-repeat;
}
.icon_plus {
	display: block;
	width: 16px;
	height: 16px;
	margin: 3px;
	background-image: url(../images/icon/icon_plus.png);
}
.icon_remove_addFormItem {
	display: inline-block;
	width: 13px;
	height: 13px;
	vertical-align: middle;
	margin-left: 30px;
	background: url(../images/icon/icon_delete_addItem2.png) no-repeat;
	cursor: pointer;
}
.icon_remove_addFormItem:hover {
	background-image: url(../images/icon/icon_remove.png);
}
.remove_option {
	cursor: pointer;
}
span.addOption-btn {
	float: left;
	background-color: #eeeeee;
	border-radius: 4px;
	cursor: pointer;
}
span.addOption-btn:hover, .remove_option:hover {
	background-color: #e7e7e7;
}
.addFormItem .icon_up {
	display: inline-block;
	width: 20px;
	height: 23px;
	vertical-align: middle;
	margin-left: 30px;
	background: url(../images/icon/icon_up1.png) no-repeat;
	cursor: pointer;
}
.addFormItem .icon_down {
	display: inline-block;
	width: 20px;
	height: 23px;
	vertical-align: middle;
	margin-left: 20px;
	background: url(../images/icon/icon_down1.png) no-repeat;
	cursor: pointer;
}
.addFormItem .icon_up:hover {
	background: url(../images/icon/icon_up.png) no-repeat;
}
.addFormItem .icon_down:hover {
	background: url(../images/icon/icon_down.png) no-repeat;
}
#address_school {
	cursor: text;
}
.prev_signUp {
	background: #60b6ff;
	color: #FFF;
	padding: 4px 7px;
	margin-left: 10px;
	cursor: pointer;
	font-size: 14px;
}
.prev_signUp:hover {
	background: #007FFF;
}
.icon_play {
	display: inline-block;
	background: url(../images/icon/icon_play.png) no-repeat;
	width: 10px;
	height: 11px;
	margin-right: 2px;
}

/*加入计划*/
.planed, .planCancel {
	display:none;
	background:url(../images/dot9.png) 0 0 repeat;
	position: absolute;
	margin-left: -60px;
	margin-top:-44px;
	top: 50%;
	left: 50%;
	width: 120px;
	height: 80px;
	color:#FFF;
	text-align:center;
	line-height:80px;
	font-size:16px;
	border-radius:8px;
	z-index: 1002;
}