@charset "utf-8";
/* 管理页 */
body {
	font-size:16px;
}
thead,tbody {
	text-align:left;
}
a {
	color:#0a8cd2;
}
td a:hover {
	text-decoration:underline;
}
.cont {
	margin-top:30px;
	padding-right: 20px;
	padding-left: 20px;
}
.paging_full_numbers {
	margin-top:20px;
}
#userData th, #userData td {
	border-left: 1px solid #ddd;
}
button a {
	color:#FFF;
}
.cont .btn {
	margin:0;
}
.sendBox {
	width:652px;
	margin:20px auto;
}
.func {
	float:right;
}

.container .func .btn {
	float:none;
}
.reply-topic-box {
	overflow:hidden;
}
.reply_topic_textarea, .reply_comment_textarea {
	margin:10px;
	width:96%;
}
#reply-topic-box {
	overflow:hidden;
}

.form-horizontal .control-label {
	margin-right:20px;
}